# Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
venv/
.env
.env.*

# Diretórios de build
build/
dist/
*.egg-info/

# PyCharm e outras IDEs JetBrains
.idea/
*.iml

# VSCode
.vscode/

# Arquivos de cobertura de testes
.coverage
coverage.xml
htmlcov/

# Pytest
.cache/
.pytest_cache/

# Logs
*.log

# Arquivos temporários e backups
*.tmp
*.bak
*.orig
*.old
*.swp

# Arquivos do sistema
.DS_Store
Thumbs.db

# Cache e artefatos de ferramentas
.mypy_cache/
ruff_cache/
.tox/
*.pem
*.key

# GitHub Actions (logs locais)
.github/workflows/*.log

# Arquivos zipados ou de backup
*.zip
*.tar.gz
